<mat-toolbar class="dsr-header-toolbar mat-toolbar">
  <div class="dsr-header-toolbar__content">
    <div class="dsr-header-toolbar__title dsr-hide-for-small dsr-header-title">
      Dikusar Angular App.
    </div>

    <div class="dsr-header-toolbar__side-block">
      <a
        dsrButtonClass
        [routerLink]="['/about']"
        routerLinkActive="dsr-header-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon class="mat-icon material-icons"> help_outline </mat-icon>
        <span class="dsr-hide-for-small">How to use</span>
      </a>
      <a
        dsrButtonClass
        [routerLink]="['/']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="dsr-header-active"
        *ngIf="isAuthorized"
      >
        <mat-icon class="mat-icon material-icons"> home </mat-icon>
        <span class="dsr-hide-for-small">Home</span>
      </a>
    </div>
    <div *ngIf="!isAuthorized">
      <a
        dsrButtonClass
        [routerLink]="['/login']"
        routerLinkActive="dsr-header-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon class="mat-icon material-icons"> login </mat-icon>
        <span class="dsr-hide-for-small">Sign In</span>
      </a>
    </div>
    <div class="dsr-header-toolbar__theme">
      <mat-slide-toggle [checked]="isDarkTheme$ | async" (change)="toggleTheme($event)">
      </mat-slide-toggle>
      <mat-icon class="mat-icon material-icons" *ngIf="!(isDarkTheme$ | async)">
        brightness_4
      </mat-icon>
      <mat-icon class="mat-icon material-icons" *ngIf="isDarkTheme$ | async">brightness_5</mat-icon>
    </div>

    <ng-container *ngIf="isAuthorized">
      <div class="dsr-header-toolbar__user dsr-header-title">
        <span>{{ user.name }}</span>
        <mat-icon class="mat-icon material-icons">person</mat-icon>
      </div>
      <div class="dsr-header-toolbar__logout" dsrButtonClass (click)="onSignOut()">
        <span class="dsr-hide-for-small">Sign out</span>
        <mat-icon class="mat-icon material-icons">logout</mat-icon>
      </div>
    </ng-container>
  </div>
</mat-toolbar>
