$dark-text: #2d2b2b;
$light-text: #ebebeb;

$light-background: #f9f7f7;
$dark-background: #353535;

$light-header-background: #637791;
$dark-header-background: #343b44;
$attention-color: #fff3a5;
$attention-text-color: #343b44;

$mat-primary-main: #3f4854;
$mat-primary-lighter: #c5c8cc;
$mat-primary-darker: #29303a;
$mat-primary-200: #3f4854;

$mat-dark-primary-main: #d3d7dc;
$mat-dark-primary-lighter: #c5c8cc;
$mat-dark-primary-darker: #29303a;
$mat-dark-primary-200: #3f4854;

$mat-accent-main: #797979;
$mat-accent-lighter: #d7d7d7;
$mat-accent-darker: #5c5c5c;
$mat-accent-200: #797979;

$mat-dark-accent-main: #e8ecf0;
$mat-dark-accent-lighter: #d7d7d7;
$mat-dark-accent-darker: #5c5c5c;
$mat-dark-accent-200: #797979;

$mat-warn-main: #ff0000;
$mat-warn-lighter: #ffb3b3;
$mat-warn-darker: #ff0000;
$mat-warn-200: #ff0000;
