<div class="dsr-file">
  <div dsrButtonClass class="dsr-file__body" [class.dsr-file__body_active]="isActive">
    <span class="material-icons dsr-file__body-icon" (click)="chooseMemoFile.emit(memoFile)">
      description
    </span>
  </div>
  <div class="dsr-file__actions">
    <input
      #editedFile
      class="dsr-hide"
      type="file"
      accept=".csv"
      (click)="editedFile.value = null"
      (change)="uploadMemoFile.emit($event)"
    />
    <span dsrButtonClass class="material-icons dsr-file__action" (click)="editedFile.click()">
      drive_file_rename_outline
    </span>
    <span
      dsrButtonClass
      class="material-icons dsr-file__action"
      (click)="deleteMemoFile.emit(memoFile)"
    >
      delete_forever
    </span>
  </div>
</div>
<div class="dsr-file__name">
  {{ memoFile | fileName }}
</div>
