@import './mixins';
@import './variables';
@import './theme';
@import 'ngx-toastr/toastr';

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

@include tiny-screens {
  .dsr-hide-for-small {
    display: none !important;
  }
}

@include small-screens {
  .dsr-hide-for-small {
    display: none !important;
  }
}

.dsr-link-btn {
  cursor: pointer;
  opacity: 0.8;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    opacity: 1;
  }
}

.dsr-hide {
  display: none;
}

hr {
  opacity: 0.7;
  margin: 15px;
}
