<div class="dsr-files">
  <div class="dsr-files-add dsr-file-wrap dsr-hide-for-small">
    <input
      #newFile
      class="dsr-hide"
      type="file"
      accept=".csv"
      (click)="newFile.value = null"
      (change)="uploadMemoFile($event)"
    />
    <span dsrButtonClass class="material-icons dsr-files-add__icon" (click)="newFile.click()">
      post_add
    </span>
  </div>

  <ng-container *ngFor="let memoFile of memoFiles">
    <div class="dsr-file-wrap" [class.dsr-file-wrap_active]="memoFile.id === activeMemoFileId">
      <dsr-workspace-file
        [memoFile]="memoFile"
        [isActive]="memoFile.id === activeMemoFileId"
        (uploadMemoFile)="uploadMemoFile($event, memoFile)"
        (chooseMemoFile)="chooseMemoFile($event)"
        (deleteMemoFile)="deleteMemoFile($event)"
      ></dsr-workspace-file>
    </div>
  </ng-container>
</div>
