<!-- <input type="checkbox" formControlName="checkAllPages" /> All Pages showTranslation -->
<div class="dsr-control-row">
  <button
    dsrButtonClass
    mat-raised-button
    (click)="showPrevious()"
    [disabled]="!isPreviousMemoRowReady"
  >
    Previous
  </button>
  <button dsrButtonClass mat-raised-button (click)="showAnswer()">Show Answer</button>

  <button
    dsrButtonClass
    class="dsr-next-btn"
    mat-raised-button
    (click)="showNext()"
    [disabled]="!rowsLeftCount"
  >
    Next Word
  </button>
</div>
<div class="dsr-control-row">
  <mat-checkbox [formControl]="isTranslationByDefaultCtrl">Translation by default</mat-checkbox>
  <button dsrButtonClass mat-raised-button (click)="reset()">Repeat Again</button>
</div>

<div class="dsr-control-row">
  <button dsrButtonClass mat-raised-button (click)="openImage()">> Google Image</button>

  <button dsrButtonClass mat-raised-button (click)="openExplanation()">> Explanation</button>

  <button dsrButtonClass mat-raised-button (click)="openDictionary()">> Dictionary</button>
</div>
