<div class="dsr-control-row" data-qa="topLevelControls">
  <button
    dsrButtonClass
    mat-raised-button
    (click)="showPrevious()"
    [disabled]="!isPreviousMemoRowReady"
  >
    Previous
  </button>
  <button dsrButtonClass mat-raised-button (click)="showAnswer()">Show Answer</button>

  <button dsrButtonClass class="dsr-next-btn" mat-raised-button (click)="showNext()">
    Next Word
  </button>
</div>
<div class="dsr-control-row" data-qa="middleLevelControls">
  <mat-checkbox [formControl]="isTranslationByDefaultCtrl">Translation by default</mat-checkbox>
  <button dsrButtonClass mat-raised-button (click)="reset()">Repeat Again</button>
</div>

<div class="dsr-control-row" data-qa="bottomLevelControls">
  <button dsrButtonClass mat-raised-button (click)="openImage()">> Google Image</button>

  <button dsrButtonClass mat-raised-button (click)="openExplanation()">> Explanation</button>

  <button dsrButtonClass mat-raised-button (click)="openDictionary()">> Dictionary</button>
</div>
